.game{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.game .status{
    color: #909CC2;

    font-weight: 500;
    font-size: 1rem;

    text-align: center;

    margin-bottom: 1rem;
}